Source/HTKK3.2/InterfaceIni/Schema/ToKhai/01_TTDB.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="TKhaiThue" targetNamespace="TKhaiThue" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0.7">
	<xs:redefine schemaLocation="../TKhaiThue.xsd">
		<xs:complexType name="CTieuTKhaiChinhType">
			<xs:annotation>
				<xs:documentation>Tờ khai thuế tiêu thụ đặc biệt - 01/TTĐB </xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="CTieuTKhaiChinhType">
					<xs:sequence>
						<xs:element name="tieuMucHachToan" type="tieuMucHT_empty">
							<xs:annotation>
								<xs:documentation>Tiểu mục hạch toán</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BangChiTietThueTTDB">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="HangHoaChiuThueTTDB" minOccurs="0">
										<xs:annotation>
											<xs:documentation>I. Hàng hoá chịu thuế TTĐB</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ChiTietHangHoaChiuThueTTDB">
													<xs:annotation>
														<xs:documentation>Bảng kê chi tiết hàng hóa chịu thuế TTĐB</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="NDungTKhaiTTDB" type="NDungTKhaiTTDBType" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="tongDongIcot5" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Doanh số bán 
(chưa có thuế GTGT)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongDongIcot6" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Giá tính thuế TTĐB</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongDongIcot8" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Thuế TTĐB được khấu trừ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongDongIcot9" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>tổng Thuế TTĐB phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="DVuChiuThueTNDB" minOccurs="0">
										<xs:annotation>
											<xs:documentation>II. Dịch vụ chịu thuế TTĐB</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ChiTietDVuChiuThueTTDB">
													<xs:annotation>
														<xs:documentation>Bảng kê chi tiết dịch vụ chịu thuế TTĐB</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="NDungTKhaiTTDB" type="NDungTKhaiTTDBType" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="tongDongIICot5" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Doanh số bán 
(chưa có thuế GTGT)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongDongIICot6" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Giá tính thuế TTĐB</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongDongIICot8" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Thuế TTĐB được khấu trừ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongDongIICot9" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Thuế TTĐB phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="HHoaKhongChiuThueTNDB" minOccurs="0">
										<xs:annotation>
											<xs:documentation>III. Hàng hoá thuộc trường hợp không phải chịu thuế TTĐB</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="HHXuatKhau" minOccurs="0">
													<xs:annotation>
														<xs:documentation>1. Hàng hóa xuất khẩu</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="NDungHHoaKhongThue" type="NDungHHoaKhongThueType" minOccurs="0" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="HHBanDeXuatKhau" minOccurs="0">
													<xs:annotation>
														<xs:documentation>2. Hàng hóa bán để xuất khẩu</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="NDungHHoaKhongThue" type="NDungHHoaKhongThueType" minOccurs="0" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="HHGiaCongXuatKhau" minOccurs="0">
													<xs:annotation>
														<xs:documentation>3. Hàng hóa gia công để xuất khẩu</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="NDungHHoaKhongThue" type="NDungHHoaKhongThueType" minOccurs="0" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="tongDongIIICot5" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng doanh số chưa có GTGT (của hàng hóa không chịu thuế)
</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="tongDSoBanChuaThue" type="xs:nonNegativeInteger" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng doanh số bán chưa có thuế GTGT</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tongGiaThue" type="xs:decimal" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng giá tính  thuế TTĐB </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tongThueKTru" type="xs:nonNegativeInteger" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng thuế TTĐB được khấu trừ (của tất cả hàng hóa, dịch vụ chịu thuế)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tongThuePNop" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Thuế TTĐB phải nộp</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="PLucType">
			<xs:complexContent>
				<xs:extension base="PLucType">
					<xs:sequence>
						<xs:element name="Pluc_01_1_TTDB" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PLucBRaChiuThueTTDB">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ChiTietPLucBRaChiuThueTTDB">
													<xs:annotation>
														<xs:documentation>Bảng kê hóa đơn HHDV bán ra chịu thuế TTDB</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="PLucBRaChiuThue" type="NoiDungPlucBRaChiuThueTTDBType" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="TongCong">
													<xs:annotation>
														<xs:documentation>Tổng cộng</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="CTietTongCong" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Chi tiết tổng cộng</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="tenHHoaDVu" type="xs:string">
																			<xs:annotation>
																				<xs:documentation>Tên hàng hoá, dịch vụ</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="tongSoLuong" type="xs:decimal" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tổng số lượng ( tổng số theo cùng nhóm hàng hóa , dịch vụ)</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="tongDoanhSoBan" type="xs:nonNegativeInteger" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tổng doanh số bán có thuế TTĐB (không có thuế GTGT) </xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																	<xs:attribute name="id" type="xs:string"/>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Pluc_01_2_TTDB" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TTinThueNLMVao">
										<xs:annotation>
											<xs:documentation>I. Bảng tính thuế Thuế tiêu thụ đặc biệt (TTĐB) của nguyên liệu mua vào</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ChiTietThueTTDBNLMVao">
													<xs:annotation>
														<xs:documentation>Bảng kê Thuế tiêu thụ đặc biệt (TTĐB) của nguyên liệu mua vào</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ThueNLMVao" type="NDungPLucNLMuaVaoType" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="tong_ct7" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Thuế TTĐB đã nộp (Tổng cột 7)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tong_ct9" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Số thuế TTĐB đã khấu trừ các kỳ trước (Tổng cột 9)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tong_ct10" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Số thuế TTĐB chưa được khấu trừ đến kỳ này (Tổng cột 10)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="TTinThueNLDuocKTru">
										<xs:annotation>
											<xs:documentation>II. Bảng tính thuế TTĐB của nguyên liệu được khấu trừ</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ChiTietThueTTDBNLDuocKTru">
													<xs:annotation>
														<xs:documentation>Bảng kê thuế TTĐB của nguyên liệu được khấu trừ</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ThueNLDuocKTru" type="NDungPLucNLDuocKTruType" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="tong_ct7" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng cộng thuế TTĐB đầu vào được khấu trừ </xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
	<xs:complexType name="NDungTKhaiTTDBType">
		<xs:sequence>
			<xs:element name="ct2_maHHDV" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Mã hàng hóa, dịch vụ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct2" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Tên hàng hóa, dịch vụ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct3" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Đơn vị tính</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct4" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Sản lượng tiêu thụ </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct5" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Doanh số bán chưa có thuế GTGT</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct6" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Giá tính thuế TTĐB </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct7" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Thuế suất (%)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct8" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Thuế TTĐB được khấu trừ
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct9" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Thuế TTĐB phải nộp (9) = (6) x (7) - (8)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="NDungHHoaKhongThueType">
		<xs:sequence>
			<xs:element name="ct2_maHH" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Mã hàng hóa (của hàng hóa xuất khẩu không chịu thuế </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct2" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Tên hàng hóa (của hàng hóa xuất khẩu không chịu thuế </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct3" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Đơn vị tính (của hàng hóa xuất khẩu không chịu thuế TTĐB)
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct4" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Sản lượng tiêu thụ (của hàng hóa xuất khẩu không chịu thuế TTĐB)
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct5" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Doanh số bán chưa có thuế GTGT (của hàng hóa xuất khẩu không chịu thuế TTĐB)
</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="NoiDungPlucBRaChiuThueTTDBType">
		<xs:annotation>
			<xs:documentation>
BẢNG KÊ HÓA ĐƠN HÀNG HÓA, DỊCH VỤ BÁN RA CHỊU THUẾ TIÊU THỤ ĐẶC BIỆT 
</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ct2" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Ký hiệu hóa đơn bán hàng</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct3" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Số hóa đơn bán hàng</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct4" type="xs:date" nillable="true">
				<xs:annotation>
					<xs:documentation>Ngày tháng năm phát hành hóa đơn bán hàng </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct5" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Tên khách hàng</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maHHDV" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Mã hàng hóa, dịch vụ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct6" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Tên hàng hóa, dịch vụ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct7" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Số lượng</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct8" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Đơn giá</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct9" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Doanh số bán có thuế TTĐB (không có thuế GTGT) (9) = (7) x (8)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="NDungPLucNLMuaVaoType">
		<xs:sequence>
			<xs:element name="BienLaiChungTuNopThueTTDB">
				<xs:annotation>
					<xs:documentation>Chứng từ hoặc biên lai nộp thuế TTĐB</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ct2" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Ký hiệu</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct3" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Số </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct4" type="xs:date" nillable="true">
							<xs:annotation>
								<xs:documentation>Ngày, tháng, năm phát hành</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ct5" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Tên nguyên liệu đã nộp thuế TTĐB</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct6" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Số lượng đơn vị nguyên liệu mua vào</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct7" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Thuế TTĐB đã nộp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct8" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Thuế TTĐB trên 1 đơn vị nguyên liệu mua vào (8)=(7)/(6)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct9" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Số thuế TTĐB đã khấu trừ các kỳ trước</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct10" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Số thuế TTĐB chưa được khấu trừ đến kỳ này</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="NDungPLucNLDuocKTruType">
		<xs:sequence>
			<xs:element name="ct2" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Mặt hàng tiêu thụ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct3" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Số lượng</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct4" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Tên nguyên liệu chịu thuế TTĐB đầu vào</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct5" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Lượng nguyên liệu trên một đơn vị sản phẩm tiêu thụ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct6" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Thuế TTĐB trên 1 đơn vị nguyên liệu đầu vào</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct7" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Tổng thuế TTĐB đầu vào được khấu trừ (7)=(3)x(5)x(6)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
</xs:schema>
