Source/HTKK3.2/InterfaceIni/Schema/ToKhai/04_GTGT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="TKhaiThue" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="TKhaiThue" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.1.0">
	<xs:redefine schemaLocation="../TKhaiThue.xsd">
		<xs:complexType name="CTieuTKhaiChinhType">
			<xs:complexContent>
				<xs:extension base="CTieuTKhaiChinhType">
					<xs:sequence>
						<xs:element name="ct21" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Doanh thu hàng hoá, dịch vụ chịu thuế suất 0% và không chịu thuế </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PPhoiCCapHHoa">
							<xs:annotation>
								<xs:documentation>1. Phân phối, cung cấp hàng hoá</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct22" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Doanh thu hàng hoá, dịch vụ chịu thuế</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct23" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Thuế GTGT phải nộp [23]=[22]x1%</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="DVuXDungKoBaoThauNVL">
							<xs:annotation>
								<xs:documentation>2. Dịch vụ, xây dựng không bao thầu nguyên vật liệu</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct24" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Doanh thu hàng hoá, dịch vụ chịu thuế</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct25" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Thuế GTGT phải nộp [25]=[24]x5%</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="HHoaXDungCoBaoThauNVL">
							<xs:annotation>
								<xs:documentation>3. Sản xuất, vận tải, dịch vụ có gắn với hàng hoá, xây dựng có bao thầu nguyên vật liệu</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct26" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Doanh thu hàng hoá, dịch vụ chịu thuế</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct27" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Thuế GTGT phải nộp  [27]=[26]x3%</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="HDongKDoanhKhac">
							<xs:annotation>
								<xs:documentation>4. Hoạt động kinh doanh khác</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct28" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Doanh thu hàng hoá, dịch vụ chịu thuế</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct29" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Thuế GTGT phải nộp [29]=[28]x2%</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="TongCong">
							<xs:annotation>
								<xs:documentation>Tổng cộng</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct30" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng Doanh thu hàng hoá, dịch vụ chịu thuế [30]=[22]+[24]+[26]+[28]</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct31" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng Thuế GTGT phải nộp [31]=[23]+[25]+[27]+[29]</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ct32" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Tổng doanh thu [32]=[21]+[30]</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct33" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Tổng số thuế giá trị gia tăng phải nộp [33]=[31]</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="PLucType">
			<xs:complexContent>
				<xs:extension base="PLucType">
					<xs:sequence>
						<xs:element name="PL04_1_GTGT" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="HHDVKChiuThue" minOccurs="0">
										<xs:annotation>
											<xs:documentation>1. Hàng hóa, dịch vụ không chịu thuế GTGT hoặc hàng hoá, dịch vụ áp dụng thuế suất 0%:</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ChiTietHHDVKChiuThue">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="HDonBRa" minOccurs="0" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:complexContent>
																		<xs:extension base="HDonBRaType">
																			<xs:attribute name="id" type="xs:string"/>
																		</xs:extension>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="tongDoanhSoBan_1" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Doanh số bán của hàng hóa, dịch vụ không  chịu thuế GTGT hoặc hàng hoá, dịch vụ áp dụng thuế suất 0%:</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="HHDVThue1" minOccurs="0">
										<xs:annotation>
											<xs:documentation>2.  Phân phối, cung cấp hàng hóa áp dụng thuế suất  1%:</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ChiTietHHDVThue1">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="HDonBRa" minOccurs="0" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:complexContent>
																		<xs:extension base="HDonBRaType">
																			<xs:attribute name="id" type="xs:string"/>
																		</xs:extension>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="tongDoanhSoBan_2" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Doanh số Phân phối, cung cấp hàng hóa áp dụng thuế suất  1%</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="HHDVThue5" minOccurs="0">
										<xs:annotation>
											<xs:documentation>3. Dịch vụ, xây dựng không bao thầu nguyên vật liệu áp dụng thuế suất 5%:</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ChiTietHHDVThue5">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="HDonBRa" minOccurs="0" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:complexContent>
																		<xs:extension base="HDonBRaType">
																			<xs:attribute name="id" type="xs:string"/>
																		</xs:extension>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="tongDoanhSoBan_3" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Doanh số bán  Dịch vụ, xây dựng không bao thầu nguyên vật liệu áp dụng thuế suất 5%:</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="HHDVThue3" minOccurs="0">
										<xs:annotation>
											<xs:documentation>4. Sản xuất, vận tải, dịch vụ có gắn với hàng hóa, xây dựng có bao thầu nguyên vật liệu áp dụng thuế suất 3%:</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ChiTietHHDVThue3">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="HDonBRa" minOccurs="0" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:complexContent>
																		<xs:extension base="HDonBRaType">
																			<xs:attribute name="id" type="xs:string"/>
																		</xs:extension>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="tongDoanhSoBan_4" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Doanh số bán Sản xuất, vận tải, dịch vụ có gắn với hàng hóa, xây dựng có bao thầu nguyên vật liệu áp dụng thuế suất 3%:</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="HHDVThue2" minOccurs="0">
										<xs:annotation>
											<xs:documentation>5. Hoạt động kinh doanh khác áp dụng thuế suất  2%:</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ChiTietHHDVThue2">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="HDonBRa" minOccurs="0" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:complexContent>
																		<xs:extension base="HDonBRaType">
																			<xs:attribute name="id" type="xs:string"/>
																		</xs:extension>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="tongDoanhSoBan_5" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Doanh số  Hoạt động kinh doanh khác áp dụng thuế suất  2%:</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="tongDThuBRa" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng doanh thu hàng hóa, dịch vụ bán ra (*)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tongDThuBRaChiuThue" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng doanh thu hàng hóa, dịch vụ không chịu thuế GTGT và áp dụng thuế suất 0% (**) </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tongThueBRa" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng doanh thu hàng hóa, dịch vụ bán áp dụng tỷ lệ thuế/doanh thu (***) </xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
	<xs:complexType name="HDonBRaType">
		<xs:sequence>
			<xs:element name="kyHieuMauHDon" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Ký hiệu mẫu hóa đơn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kyHieuHDon" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Kí hiệu hoá đơn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="soHDon" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Số hoá đơn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ngayPHanh" type="xs:date" nillable="true">
				<xs:annotation>
					<xs:documentation>Ngày, tháng, năm lập hóa đơn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tenNMUA" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Tên người mua</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mstNMUA" type="TINType" nillable="true">
				<xs:annotation>
					<xs:documentation>Mã số thuế người mua</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="matHang" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Mặt hàng</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dsoBanChuaThue" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Doanh thu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ghiChu" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Ghi chú</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
