Source/HTKK3.2/InterfaceIni/Schema/ToKhai/05_TNCN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="TKhaiThue" targetNamespace="TKhaiThue" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0.8">
	<xs:redefine schemaLocation="../TKhaiThue.xsd">
		<xs:complexType name="CTieuTKhaiChinhType">
			<xs:complexContent>
				<xs:extension base="CTieuTKhaiChinhType">
					<xs:sequence>
						<xs:element name="dnCDoiLHinhHoacHNhat" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Có phải là doanh nghiệp chuyển đổi loại hình hoặc là hợp nhất hay không?</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="lyDo" type="xs:string">
							<xs:annotation>
								<xs:documentation>Lý do</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="NghiaVuKhauTruThue">
							<xs:annotation>
								<xs:documentation>I. Nghĩa vụ khấu trừ thuế của tổ chức, cá nhân trả thu nhập: </xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TongSoNguoiLDong">
										<xs:annotation>
											<xs:documentation>1. Tổng số người lao động:</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct21" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng số người lao động:</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct22" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Trong đó: Cá nhân cư trú có hợp đồng lao động </xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="TongCaNhanDaKhauTru">
										<xs:annotation>
											<xs:documentation>2. Tổng số cá nhân đã khấu trừ thuế </xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct23" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng số cá nhân đã khấu trừ thuế </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct24" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Cá nhân cư trú</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct25" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Cá nhân không cư trú</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="TongCNhanMThueTheoHDinh">
										<xs:annotation>
											<xs:documentation>3. Tổng số cá nhân thuộc diện được miễn, giảm thuế theo Hiệp định tránh đánh thuế hai lần</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct26" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng số cá nhân thuộc diện được miễn, giảm thuế theo Hiệp định tránh đánh thuế hai lần</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="TongTNCTTraChoCNhan">
										<xs:annotation>
											<xs:documentation>4. Tổng TNCT trả cho cá nhân </xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct27" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng TNCT trả cho cá nhân </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct28" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Cá nhân cư trú có hợp đồng lao động</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct29" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Cá nhân cư trú không có hợp đồng lao động</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct30" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Cá nhân không cư trú</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="TongTNCNTraChoCNKTru">
										<xs:annotation>
											<xs:documentation>5. Tổng TNCT trả cho cá nhân thuộc diện phải khấu trừ thuế </xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct31" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng TNCT trả cho cá nhân thuộc diện phải khấu trừ thuế </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct32" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Cá nhân cư trú có hợp đồng lao động</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct33" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Cá nhân cư trú không có hợp đồng lao động</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct34" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Cá nhân không cư trú</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="TongSoThueTNCNDaKTru">
										<xs:annotation>
											<xs:documentation>6. Tổng số thuế TNCN đã khấu trừ </xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct35" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng số thuế TNCN đã khấu trừ </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct36" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Cá nhân cư trú có hợp đồng lao động</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct37" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Cá nhân cư trú không có hợp đồng lao động</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct38" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Cá nhân không cư trú</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="TongSoThueDuocGiam">
										<xs:annotation>
											<xs:documentation>7. Tổng số thuế được giảm do làm việc tại khu kinh tế </xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct39" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng số thuế được giảm do làm việc tại khu kinh tế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct40" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Cá nhân cư trú có hợp đồng lao động</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct41" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Cá nhân cư trú không có hợp đồng lao động</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct42" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Cá nhân không cư trú</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="NghiaVuQuyetToanThay">
							<xs:annotation>
								<xs:documentation>II. Nghĩa vụ quyết toán thay cho cá nhân:</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct43" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng số cá nhân uỷ quyền cho tổ chức, cá nhân trả thu nhập quyết toán thay</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct44" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng số thuế TNCN đã khấu trừ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct45" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng số thuế TNCN phải nộp</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct46" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng số thuế TNCN còn phải nộp NSNN </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct47" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng số thuế TNCN đã nộp thừa </xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="PLucType">
			<xs:complexContent>
				<xs:extension base="PLucType">
					<xs:sequence>
						<xs:element name="PLuc_05_1_BK" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BKeThueTNCNCTruCoHDong">
										<xs:annotation>
											<xs:documentation>BẢNG KÊ THU NHẬP CHỊU THUẾ VÀ THUẾ THU NHẬP CÁ NHÂN 
ĐỐI VỚI THU NHẬP TỪ TIỀN LƯƠNG, TIỀN CÔNG 
CỦA CÁ NHÂN CƯ TRÚ CÓ KÝ HỢP ĐỒNG LAO ĐỘNG</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ChiTietBangKe" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="coDieuChinhSoLieu" type="xs:boolean" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Có điều chỉnh số liệu (cập nhật cho ứng dụng HTKK, Tool QTT)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct07" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Họ và Tên </xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct08" type="TINType" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã Số thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct09" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số CMND/Hộ chiếu</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct10" type="xs:boolean" nillable="true">
																<xs:annotation>
																	<xs:documentation>Cá nhân uỷ quyền quyết toán thay</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ThuNhapChiuThue">
																<xs:annotation>
																	<xs:documentation>Thu nhập chịu thuế</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ct11" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tổng số Thu nhập chịu thuế</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct12" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Trong đó: TNCT được giảm thuế  Làm việc trong KKT</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct13" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Trong đó: TNCT được giảm thuế  Theo Hiệp định</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="CacKhoanGiamTru">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ct14" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tổng số tiền  giảm trừ gia cảnh</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct15" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Từ thiện, nhân đạo, khuyến học</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct16" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Bảo hiểm được trừ</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct17" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Quỹ hưu trí tự nguyện được trừ</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="ct18" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thu nhập tính thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct19" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số thuế TNCN đã khấu trừ</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct20" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số thuế TNCN được giảm do làm việc trong KKT</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ChiTietKQQuyetToanThay">
																<xs:annotation>
																	<xs:documentation>Chi tiết kết quả quyết toán thay cho cá nhân nộp thuế</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ct21" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tổng số thuế phải nộp</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct22" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Số thuế đã nộp thừa</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct23" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Số thuế còn phải nộp</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string" use="required"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ct24" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng số thu nhập chịu thuế</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct25" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng Trong đó: TNCT được giảm thuế  Làm việc trong KKT</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct26" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng Trong đó: TNCT được giảm thuế  Theo Hiệp định</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct27" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng số tiền  giảm trừ gia cảnh</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct28" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng Từ thiện, nhân đạo, khuyến học</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct29" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng Bảo hiểm được trừ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct30" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng Quỹ hưu trí tự nguyện được trừ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct31" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng Thu nhập tính thuế</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct32" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng Số thuế TNCN đã khấu trừ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct33" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng Số thuế TNCN được giảm do làm việc trong KKT</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct34" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng số thuế phải nộp</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct35" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Số thuế đã nộp thừa</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct36" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng Số thuế còn phải nộp</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PLuc_05_2_BK" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BKeThueTNCNCNhanKhongCuTru">
										<xs:annotation>
											<xs:documentation>BẢNG KÊ THU NHẬP CHỊU THUẾ VÀ THUẾ THU NHẬP CÁ NHÂN 
ĐÃ KHẤU TRỪ ĐỐI VỚI THU NHẬP TỪ TIỀN LƯƠNG, TIỀN CÔNG  
CỦA CÁ NHÂN CƯ TRÚ KHÔNG KÝ HỢP ĐỒNG LAO ĐỘNG HOẶC 
CÓ HỢP ĐỒNG LAO ĐỘNG DƯỚI 3 THÁNG VÀ CÁ NHÂN KHÔNG CƯ TRÚ</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="chiTietBangKe" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="coDieuChinhSoLieu" type="xs:boolean" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Có điều chỉnh số liệu (cập nhật cho ứng dụng HTKK, Tool QTT)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct07" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Họ và tên</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct08" type="TINType" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã số thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct09" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số CMND/Hộ chiếu</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct10" type="xs:boolean" nillable="true">
																<xs:annotation>
																	<xs:documentation>Cá nhân không cư trú</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ThuNhapChiuThue">
																<xs:annotation>
																	<xs:documentation>Thu nhập chịu thuế</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="ct11" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Tổng số Thu nhập chịu thuế</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct12" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Trong đó: TNCT được giảm thuế  Làm việc tại KKT</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="ct13" type="xs:long" nillable="true">
																			<xs:annotation>
																				<xs:documentation>Trong đó: TNCT được giảm thuế  Theo Hiệp định</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="ct14" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số thuế thu nhập cá nhân (TNCN) đã khấu trừ</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct15" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số thuế TNCN được giảm do làm việc tại KKT</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string" use="required"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ct16" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng số Thu nhập chịu thuế</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct17" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Trong đó: TNCT được giảm thuế  Làm việc tại KKT</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct18" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Trong đó: TNCT được giảm thuế  Theo Hiệp định</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct19" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Số thuế thu nhập cá nhân (TNCN) đã khấu trừ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct20" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Số thuế TNCN được giảm do làm việc tại KKT</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PLuc_05_3_BK" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BKeNPTGTruGCanh">
										<xs:annotation>
											<xs:documentation>Bảng kê người phụ thuộc giảm trừ gia cảnh</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ChiTietBKe" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ct07" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Họ và tên người nộp thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct08" type="TINType" nillable="true">
																<xs:annotation>
																	<xs:documentation>MST của người nộp thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct09" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Họ và tên người phụ thuộc</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct10" type="xs:date" nillable="true">
																<xs:annotation>
																	<xs:documentation>Ngày sinh người phụ thuộc</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct11" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>MST của người phụ thuộc</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct12_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã Quốc tịch người phụ thuộc</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct12" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Quốc tịch người phụ thuộc</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct13" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>CMND/ Hộ chiếu của người phụ thuộc </xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct14_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã Quan hệ với người nộp thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct14" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Quan hệ với người nộp thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct15" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct16" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Quyển số</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct17_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã Quốc gia</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct17" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Quốc gia</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct18_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã Tỉnh/ Thành phố</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct18" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tỉnh/ Thành phố</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct19_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã Quận/ Huyện</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct19" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Quận/ Huyện</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct20_ma" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã Phường / Xã</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct20" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Phường / Xã</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct21" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Từ tháng</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct22" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Đến tháng</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string" use="required"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PL27MGT-TNCN" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CHITIETMIENGIAMTHUETNCN" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="chiTietChiTieuMGiamThueTNCN">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ct07" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Họ và tên</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct08" type="TINType" nillable="true">
																<xs:annotation>
																	<xs:documentation>Mã số thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct09" type="xs:string" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số CMND/ Hộ chiếu</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct10" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Thu nhập tính thuế</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct11" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Số thuế TNCN đã khấu trừ</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct12" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng số thuế TNCN phải nộp</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct13" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng số thuế TNCN được miễn</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ct14" type="xs:long" nillable="true">
																<xs:annotation>
																	<xs:documentation>Tổng số thuế TNCN còn phải nộp sau khi miễn</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="id" type="xs:string" use="required"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ct15" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng cộng Thu nhập tính thuế</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct16" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng cộng Số thuế TNCN đã khấu trừ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct17" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng cộng Tổng số thuế TNCN phải nộp</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct18" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng cộng Tổng số thuế TNCN được miễn </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct19" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng cộng Tổng số thuế TNCN còn phải nộp sau khi miễn</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
</xs:schema>
