Source/HTKK3.2/InterfaceIni/Schema/ToKhai/15_01_CDKT10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema targetNamespace="TKhaiThue" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="TKhaiThue" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0.0">
	<xs:redefine schemaLocation="../TKhaiThue.xsd">
		<xs:complexType name="CTieuTKhaiChinhType">
			<xs:annotation>
				<xs:documentation>Thông tư 244 điều chỉnh bổ sung quyết định 15</xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="CTieuTKhaiChinhType">
					<xs:sequence>
						<xs:element name="SoNamNay">
							<xs:annotation>
								<xs:documentation>Số năm nay</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct100_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>A .Tài sản ngắn hạn (100=110+120+130+140+150)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct110_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>I. Tiền và các khoản tương đương tiền (110=111+112)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct111_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Tiền</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct112_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Các khoản tương đương</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct120_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>II. Các khoản đầu tư tài chính ngắn hạn (120=121+129)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct121_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Đầu tư ngắn hạn</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct129_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Đầu tư dự phòng giảm giá đầu tư ngắn hạn (*)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct130_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>III. Các khoản phải thu ngắn hạn (130=131+132+133+134+135+139)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct131_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Phải thu khách hàng</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct132_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Phải trả trước cho người bán</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct133_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Phải thu nội bộ ngắn hạn</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct134_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>4. Phải thu theo tiến độ kế hoạch hợp đồng xây dựng</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct135_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>5. Các khoản phải thu khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct139_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>6. Dự phòng phải thu ngắn hạn khó đòi (*)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct140_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>IV. Hàng tồn kho (140=141+149)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct141_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Hàng tồn kho</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct149_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Dự phòng giảm giá hàng tồn kho (*)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct150_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>V. Tài sản ngắn hạn khác (150=151+152+154+158)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct151_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Chí phí trả trước ngắn hạn</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct152_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Thuế GTGT được khấu trừ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct154_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Thuế và các khoản khác phải thu Nhà nước</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct158_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>4. Tài sản ngắn hạn khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct200_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>B. Tài sản dài hạn (200 = 210 + 220 + 240 + 250 + 260)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct210_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>I. Các khoản phải thu dài hạn (210 =211+212+213+218+219)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct211_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Phải thu dài hạn của khách hàng</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct212_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Vốn kinh doanh ở đơn vị trực thuộc</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct213_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Phải thu dài hạn nội bộ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct218_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>4. Phải thu dài hạn khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct219_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>5. Dự phòng phải thu dài hạn khó đòi (*)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct220_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>II. Tài sản cố định (220=221+224+227+230)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct221_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Tài sản cố định hữu hình (221=222+223)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct222_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Nguyên giá</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct223_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Giá trị hao mòn lũy kế (*)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct224_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Tài sản cố định thuê tài chính (224 = 225+226)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct225_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Nguyên giá</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct226_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Giá trị hao mòn lũy kế (*)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct227_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Tài sản cố định vô hình (227=228+229)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct228_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Nguyên giá</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct229_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Giá trị hao mòn lũy kế (*)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct230_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>4. Chi phí xây dựng cơ bản dở dang</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct240_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>III. Bất động sản đầu tư (240=241+242)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct241_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Nguyên giá</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct242_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Giá trị hao mòn lũy kế (*)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct250_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>IV. Các khoản đầu tư tài chính dài hạn (250=251+252+258+259)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct251_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Đầu tư vào công ty con</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct252_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Đầu tư vào công ty liên kết, liên doanh</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct258_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Đầu tư dài hạn khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct259_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>4. Dự phòng giảm giá đầu tư tài chính dài hạn (*)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct260_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>V. Tài sản dài hạn khác (260=261+262+268)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct261_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Chi phí trả trước dài hạn</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct262_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Tài sản thuế thu nhập hoãn lại</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct268_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Tài sản dài hạn khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct270_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng cộng tài sản (270=100+200)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct300_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>A. Nợ phải trả (300=310+320)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct310_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>I. Nợ ngắn hạn (310=311+312+....+323)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct311_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Vay và nợ ngắn hạn</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct312_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Phải trả người bán</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct313_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Người mua trả tiền trước</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct314_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>4. Thuế và các khoản khác phải nộp nhà nước</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct315_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>5. Phải trả người lao động</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct316_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>6. Chi phí phải trả</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct317_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>7. Phải trả nội bộ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct318_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>8. Phải trả theo tiến độ kế hoạch hợp đồng xây dựng</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct319_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>9. Các khoản phải trả, phải nộp ngắn hạn khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct320_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>10. Dự phòng phải trả ngắn hạn</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct323_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>11. Quỹ khen thưởng phúc lợi </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct330_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>II. Nợ dài hạn (330=331+332+....+338+339)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct331_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Phải trả dài hạn người bán</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct332_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Phải trả dài hạn nội bộ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct333_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Phải trả dài hạn khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct334_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>4. Vay và nợ nội bộ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct335_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>5. Thuế thu nhập hoãn lại phải trả</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct336_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>6. Dự phòng trợ cấp mất việc làm</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct337_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>7. Dự phòng phải trả dài hạn</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct338_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>8. Doanh thu chưa thực hiện </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct339_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>9. Quỹ phát triển khoa học và công nghệ </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct400_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>B. Vốn chủ sở hữu (400=410+430)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct410_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>I. Vốn chủ sở hữu (410=411+412+...+421+422)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct411_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Vốn đầu tư của chủ sở hữu</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct412_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Thặng dư vốn cổ phần</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct413_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Vốn khác của chủ sở hữu</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct414_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>4. Cổ phiếu quỹ (*)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct415_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>5. Chênh lệch đánh giá lại tài sản</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct416_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>6. Chênh lệch tỷ giá hối đoái</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct417_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>7. Quỹ đầu tư phát triển</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct418_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>8. Quỹ dự phòng tài chính</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct419_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>9. Quỹ khác thuộc vốn chủ sở hữu</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct420_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>10. Lợi nhuận sau thuế chưa phân phối</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct421_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>11. Nguồn vốn đầu tư xây dựng cơ bản</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct422_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>12. Quỹ hỗ trợ sắp xếp doanh nghiệp </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct430_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Nguồn kinh phí và quỹ khác (430=432+433)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct432_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Nguồn kinh phí</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct433_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Nguồn kinh phí đó hình thành TSCĐ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct440_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng cộng nguồn vốn (440=300+400)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tsantNgoai_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Tài sản thuê ngoài</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="hangGCong_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Vật tư hàng hóa nhận giữ hộ, nhận gia công</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="hangKGui_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Hàng hóa nhận bán hộ, nhận ký gửi</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="noKDoi_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>4. Nợ khó đòi đã xử lý</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ngoaiTe_nNay" type="xs:decimal" nillable="true">
										<xs:annotation>
											<xs:documentation>5. Ngoại tệ các loại</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="duToanChi_nNay" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>6. Dự toán chi hoạt động</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SoNamNgoai">
							<xs:annotation>
								<xs:documentation>số năm trước</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ct100_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>A .Tài sản ngắn hạn (100=110+120+130+140+150)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct110_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>I. Tiền và các khoản tương đương tiền (110=111+112)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct111_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Tiền</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct112_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Các khoản tương đương</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct120_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>II. Các khoản đầu tư tài chính ngắn hạn (120=121+129)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct121_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Đầu tư ngắn hạn</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct129_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Đầu tư dự phòng giảm giá đầu tư ngắn hạn (*)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct130_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>III. Các khoản phải thu ngắn hạn (130=131+132+133+134+135+139)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct131_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Phải thu khách hàng</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct132_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Phải trả trước cho người bán</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct133_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Phải thu nội bộ ngắn hạn</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct134_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>4. Phải thu theo tiến độ kế hoạch hợp đồng xây dựng</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct135_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>5. Các khoản phải thu khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct139_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>6. Dự phòng phải thu ngắn hạn khó đòi (*)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct140_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>IV. Hàng tồn kho (140=141+149)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct141_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Hàng tồn kho</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct149_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Dự phòng giảm giá hàng tồn kho (*)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct150_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>V. Tài sản ngắn hạn khác (150=151+152+154+158)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct151_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Chí phí trả trước ngắn hạn</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct152_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Thuế GTGT được khấu trừ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct154_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Thuế và các khoản khác phải thu Nhà nước</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct158_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>4. Tài sản ngắn hạn khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct200_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>B. Tài sản dài hạn (200 = 210 + 220 + 240 + 250 + 260)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct210_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>I. Các khoản phải thu dài hạn (210 =211+212+213+218+219)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct211_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Phải thu dài hạn của khách hàng</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct212_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Vốn kinh doanh ở đơn vị trực thuộc</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct213_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Phải thu dài hạn nội bộ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct218_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>4. Phải thu dài hạn khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct219_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>5. Dự phòng phải thu dài hạn khó đòi (*)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct220_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>II. Tài sản cố định (220=221+224+227+230)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct221_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Tài sản cố định hữu hình (221=222+223)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct222_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Nguyên giá</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct223_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Giá trị hao mòn lũy kế (*)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct224_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Tài sản cố định thuê tài chính (224 = 225+226)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct225_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Nguyên giá</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct226_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Giá trị hao mòn lũy kế (*)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct227_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Tài sản cố định vô hình (227=228+229)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct228_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Nguyên giá</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct229_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Giá trị hao mòn lũy kế (*)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct230_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>4. Chi phí xây dựng cơ bản dở dang</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct240_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>III. Bất động sản đầu tư (240=241+242)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct241_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Nguyên giá</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct242_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Giá trị hao mòn lũy kế (*)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct250_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>IV. Các khoản đầu tư tài chính dài hạn (250=251+252+258+259)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct251_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Đầu tư vào công ty con</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct252_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Đầu tư vào công ty liên kết, liên doanh</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct258_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Đầu tư dài hạn khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct259_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>4. Dự phòng giảm giá đầu tư tài chính dài hạn (*)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct260_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>V. Tài sản dài hạn khác (260=261+262+268)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct261_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Chi phí trả trước dài hạn</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct262_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Tài sản thuế thu nhập hoãn lại</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct268_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Tài sản dài hạn khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct270_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng cộng tài sản (270=100+200)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct300_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>A. Nợ phải trả (300=310+320)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct310_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>I. Nợ ngắn hạn (310=311+312+....+323)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct311_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Vay và nợ ngắn hạn</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct312_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Phải trả người bán</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct313_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Người mua trả tiền trước</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct314_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>4. Thuế và các khoản khác phải nộp nhà nước</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct315_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>5. Phải trả người lao động</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct316_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>6. Chi phí phải trả</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct317_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>7. Phải trả nội bộ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct318_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>8. Phải trả theo tiến độ kế hoạch hợp đồng xây dựng</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct319_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>9. Các khoản phải trả, phải nộp ngắn hạn khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct320_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>10. Dự phòng phải trả ngắn hạn</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct323_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>11. Quỹ khen thưởng phúc lợi </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct330_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>II. Nợ dài hạn (330=331+332+....+338+339)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct331_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Phải trả dài hạn người bán</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct332_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Phải trả dài hạn nội bộ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct333_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Phải trả dài hạn khác</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct334_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>4. Vay và nợ nội bộ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct335_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>5. Thuế thu nhập hoãn lại phải trả</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct336_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>6. Dự phòng trợ cấp mất việc làm</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct337_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>7. Dự phòng phải trả dài hạn</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct338_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>8. Doanh thu chưa thực hiện </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct339_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>9. Quỹ phát triển khoa học và công nghệ </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct400_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>B. Vốn chủ sở hữu (400=410+430)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct410_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>I. Vốn chủ sở hữu (410=411+412+...+421+422)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct411_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Vốn đầu tư của chủ sở hữu</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct412_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Thặng dư vốn cổ phần</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct413_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Vốn khác của chủ sở hữu</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct414_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>4. Cổ phiếu quỹ (*)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct415_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>5. Chênh lệch đánh giá lại tài sản</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct416_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>6. Chênh lệch tỷ giá hối đoái</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct417_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>7. Quỹ đầu tư phát triển</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct418_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>8. Quỹ dự phòng tài chính</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct419_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>9. Quỹ khác thuộc vốn chủ sở hữu</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct420_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>10. Lợi nhuận sau thuế chưa phân phối</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct421_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>11. Nguồn vốn đầu tư xây dựng cơ bản</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct422_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>12. Quỹ hỗ trợ sắp xếp doanh nghiệp </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct430_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Nguồn kinh phí và quỹ khác (430=432+433)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct432_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Nguồn kinh phí</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct433_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Nguồn kinh phí đó hình thành TSCĐ</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ct440_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng cộng nguồn vốn (440=300+400)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tsantNgoai_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>1. Tài sản thuê ngoài</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="hangGCong_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>2. Vật tư hàng hóa nhận giữ hộ, nhận gia công</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="hangKGui_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>3. Hàng hóa nhận bán hộ, nhận ký gửi</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="noKDoi_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>4. Nợ khó đòi đã xử lý</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ngoaiTe_nNgoai" type="xs:decimal" nillable="true">
										<xs:annotation>
											<xs:documentation>5. Ngoại tệ các loại</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="duToanChi_nNgoai" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>6. Dự toán chi hoạt động</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="nguoiLapBieu" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Người lập biểu </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="keToanTruong" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Kế toán trưởng </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ngayLap" type="xs:date" nillable="true">
							<xs:annotation>
								<xs:documentation>Lập ngày </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="giamDoc" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Giám đốc </xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="PLucType">
			<xs:complexContent>
				<xs:extension base="PLucType">
					<xs:sequence>
						<xs:element name="PL_KQHDXSKD" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SoNamNay">
										<xs:annotation>
											<xs:documentation>Số năm nay</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct01_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>1. Doanh thu bán hàn và cung cấp dịch vụ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct02_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>2. Các khoản giảm trừ doanh thu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3. Doanh thu thuần về bán hàng và cung cấp dịch vụ (10=01-02)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4. Giá vốn hàng bán</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct20_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>5. Lợi nhuận gộp về bán hàng và cung cấp dịch vụ (20=10-11)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct21_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>6. Doanh thu hoạt động tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct22_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>7. Chi phí tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct23_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation> - Chi phí lãi vay</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct24_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>8. Chi phí bán hàng</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct25_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>9. Chi phí quản lý doanh nghiệp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct30_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>10. Lợi nhuận thuần túy từ hoạt động kinh doanh (30=20+(21-22)-(24+25)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct31_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>11. Thu nhập khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct32_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>ct32_nNgoai</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct40_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>13. Lợi nhuận khác (40=31-32)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct50_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>14. Tổng lợi nhuận kế toán trước thuế (50=30+40)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct51_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>15. Chi phí thuế thu nhập doanh nghiệp hiện hành</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct52_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>16. Chi phí thuế thu nhập doanh nghiệp hoãn lại</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct60_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>17. Lợi nhuận sau thuế thu nhập doanh nghiệp (60=50-51-52)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct70_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>18. Lãi cơ bản trên cổ phiếu</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="SoNamNgoai">
										<xs:annotation>
											<xs:documentation>Số năm ngoái</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct01_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>1. Doanh thu bán hàn và cung cấp dịch vụ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct02_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>2. Các khoản giảm trừ doanh thu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3. Doanh thu thuần về bán hàng và cung cấp dịch vụ (10=01-02)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4. Giá vốn hàng bán</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct20_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>5. Lợi nhuận gộp về bán hàng và cung cấp dịch vụ (20=10-11)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct21_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>6. Doanh thu hoạt động tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct22_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>7. Chi phí tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct23_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation> - Chi phí lãi vay</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct24_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>8. Chi phí bán hàng</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct25_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>9. Chi phí quản lý doanh nghiệp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct30_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>10. Lợi nhuận thuần túy từ hoạt động kinh doanh (30=20+(21-22)-(24+25)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct31_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>11. Thu nhập khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct32_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>ct32_nNgoai</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct40_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>13. Lợi nhuận khác (40=31-32)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct50_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>14. Tổng lợi nhuận kế toán trước thuế (50=30+40)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct51_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>15. Chi phí thuế thu nhập doanh nghiệp hiện hành</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct52_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>16. Chi phí thuế thu nhập doanh nghiệp hoãn lại</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct60_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>17. Lợi nhuận sau thuế thu nhập doanh nghiệp (60=50-51-52)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct70_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>18. Lãi cơ bản trên cổ phiếu</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="PhanKy">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="nguoiLapBieu" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Người lập biểu </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="keToanTruong" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Kế toán trưởng </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ngayLap" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Lập ngày </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="giamDoc" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Giám đốc </xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PL_LCTTTT" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SoNamNay">
										<xs:annotation>
											<xs:documentation>Số năm nay</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct01_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation> 1.Tiền thu từ bán hàng, cung cấp dịch vụ và doanh thu khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct02_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>2.Tiền chi trả cho người cung cấp hàng hóa và dịch vụ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct03_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3.Tiền chi trả cho người lao động</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct04_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4.Tiền chi trả lãi vay</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct05_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>5.Tiền chi nộp thuế thu nhập doanh nghiệp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct06_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>6.Tiền thu khác từ hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct07_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>7.Tiền chi khác cho hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct20_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct21_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation> 1.Tiền chi để mua sắm, xây dựng TSCĐ và các tài sản dài hạn khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct22_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>  2.Tiền thu từ thanh lý, nhượng bán TSCĐ và các tài sản dài hạn khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct23_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3.Tiền chi cho vay, mua các công cụ nợ của đơn vị khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct24_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4.Tiền thu hồi cho vay, bán lại các công cụ nợ của đơn vị khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct25_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>5.Tiền chi đầu tư góp vốn vào đơn vị khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct26_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>6.Tiền thu hồi đầu tư góp vốn vào đơn vị khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct27_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>   7.Tiền thu lãi cho vay, cổ tức và lợi nhuận được chia</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct30_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động đầu tư</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct31_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>   1.Tiền thu từ phát hành cổ phiếu, nhận vốn góp của chủ sở hữu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct32_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>   2.Tiền chi trả vốn góp cho các chủ sở hữu, mua lại cổ phiếu của  doanh nghiệp đã phát hành</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct33_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>   3.Tiền vay ngắn hạn, dài hạn nhận được</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct34_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4.Tiền chi trả nợ gốc vay</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct35_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>5.Tiền chi trả nợ thuê tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct36_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>6. Cổ tức, lợi nhuận đã trả cho chủ sở hữu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct40_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct50_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần trong kỳ (50 = 20+30+40)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct60_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền và tương đương tiền đầu kỳ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct61_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Ảnh hưởng của thay đổi tỷ giá hối đoái quy đổi ngoại</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct70_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền và tương đương tiền cuối kỳ (70 = 50+60+61)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="SoNamNgoai">
										<xs:annotation>
											<xs:documentation>Số năm trước</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct01_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation> 1.Tiền thu từ bán hàng, cung cấp dịch vụ và doanh thu khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct02_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>2.Tiền chi trả cho người cung cấp hàng hóa và dịch vụ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct03_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3.Tiền chi trả cho người lao động</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct04_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4.Tiền chi trả lãi vay</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct05_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>5.Tiền chi nộp thuế thu nhập doanh nghiệp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct06_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>6.Tiền thu khác từ hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct07_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>7.Tiền chi khác cho hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct20_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct21_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation> 1.Tiền chi để mua sắm, xây dựng TSCĐ và các tài sản dài hạn khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct22_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>  2.Tiền thu từ thanh lý, nhượng bán TSCĐ và các tài sản dài hạn khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct23_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3.Tiền chi cho vay, mua các công cụ nợ của đơn vị khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct24_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4.Tiền thu hồi cho vay, bán lại các công cụ nợ của đơn vị khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct25_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>5.Tiền chi đầu tư góp vốn vào đơn vị khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct26_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>6.Tiền thu hồi đầu tư góp vốn vào đơn vị khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct27_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>   7.Tiền thu lãi cho vay, cổ tức và lợi nhuận được chia</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct30_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động đầu tư</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct31_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>   1.Tiền thu từ phát hành cổ phiếu, nhận vốn góp của chủ sở hữu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct32_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>   2.Tiền chi trả vốn góp cho các chủ sở hữu, mua lại cổ phiếu của  doanh nghiệp đã phát hành</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct33_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>   3.Tiền vay ngắn hạn, dài hạn nhận được</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct34_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4.Tiền chi trả nợ gốc vay</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct35_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>5.Tiền chi trả nợ thuê tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct36_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>6. Cổ tức, lợi nhuận đã trả cho chủ sở hữu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct40_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct50_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần trong kỳ (50 = 20+30+40)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct60_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền và tương đương tiền đầu kỳ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct61_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Ảnh hưởng của thay đổi tỷ giá hối đoái quy đổi ngoại</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct70_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền và tương đương tiền cuối kỳ (70 = 50+60+61)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="PhanKy">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="nguoiLapBieu" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Người lập biểu </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="keToanTruong" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Kế toán trưởng </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ngayLap" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Lập ngày </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="giamDoc" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Giám đốc </xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PL_LCTTGT" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SoNamNay">
										<xs:annotation>
											<xs:documentation>Số Năm Nay</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct01_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>1. Lợi nhuận trước thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct02_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Khấu hao TSCĐ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct03_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Các khoản dự phòng</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct04_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lãi, lỗ chênh lệch tỷ giá hối đoái chưa thực hiện</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct05_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lãi, lỗ từ hoạt động đầu tư</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct06_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Chi phí lãi vay</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct08_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3. Lợi nhuận từ hoạt động kinh doanh trước thay đổi vốn  lưu động</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct09_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tăng, giảm các khoản phải thu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tăng, giảm hàng tồn kho</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tăng, giảm các khoản phải trả (Không kể lãi vay phải trả, thuế thu nhập doanh nghiệp phải nộ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tăng, giảm chi phí trả trước</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct13_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền lãi vay đã trả</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct14_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Thuế thu nhập doanh nghiệp đã nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct15_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền thu khác từ hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct16_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền chi khác cho hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct20_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct21_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>1.Tiền chi để mua sắm, xây dựng TSCĐ và các tài sản dài hạn khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct22_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>2.Tiền thu từ thanh lý, nhượng bán TSCĐ và các tài sản dài hạn khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct23_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3.Tiền chi cho vay, mua các công cụ nợ của đơn vị khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct24_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4.Tiền thu hồi cho vay, bán lại các công cụ nợ của đơn vị khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct25_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>5.Tiền chi đầu tư góp vốn vào đơn vị khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct26_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>6.Tiền thu hồi đầu tư góp vốn vào đơn vị khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct27_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>7.Tiền thu lãi cho vay, cổ tức và lợi nhuận được chia</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct30_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động đầu tư</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct31_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>1.Tiền thu từ phát hành cổ phiếu, nhận vốn góp của chủ sở hữu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct32_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>2.Tiền chi trả vốn góp cho các chủ sở hữu, mua lại cổ phiếu của  doanh nghiệp đã phát hành</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct33_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3.Tiền vay ngắn hạn, dài hạn nhận được</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct34_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4.Tiền chi trả nợ gốc vay</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct35_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>5.Tiền chi trả nợ thuê tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct36_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>6. Cổ tức, lợi nhuận đã trả cho chủ sở hữu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct40_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct50_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần trong kỳ (50 = 20+30+40)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct60_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền và tương đương tiền đầu kỳ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct61_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Ảnh hưởng của thay đổi tỷ giá hối đoái quy đổi ngoại</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct70_nNay" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền và tương đương tiền cuối kỳ (70 = 50+60+61)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="SoNamNgoai">
										<xs:annotation>
											<xs:documentation>Số năm trước</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct01_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>1. Lợi nhuận trước thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct02_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Khấu hao TSCĐ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct03_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Các khoản dự phòng</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct04_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lãi, lỗ chênh lệch tỷ giá hối đoái chưa thực hiện</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct05_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lãi, lỗ từ hoạt động đầu tư</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct06_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Chi phí lãi vay</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct08_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3. Lợi nhuận từ hoạt động kinh doanh trước thay đổi vốn  lưu động</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct09_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tăng, giảm các khoản phải thu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tăng, giảm hàng tồn kho</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tăng, giảm các khoản phải trả (Không kể lãi vay phải trả, thuế thu nhập doanh nghiệp phải nộ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tăng, giảm chi phí trả trước</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct13_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền lãi vay đã trả</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct14_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Thuế thu nhập doanh nghiệp đã nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct15_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền thu khác từ hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct16_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền chi khác cho hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct20_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động kinh doanh</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct21_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>1.Tiền chi để mua sắm, xây dựng TSCĐ và các tài sản dài hạn khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct22_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>2.Tiền thu từ thanh lý, nhượng bán TSCĐ và các tài sản dài hạn khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct23_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3.Tiền chi cho vay, mua các công cụ nợ của đơn vị khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct24_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4.Tiền thu hồi cho vay, bán lại các công cụ nợ của đơn vị khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct25_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>5.Tiền chi đầu tư góp vốn vào đơn vị khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct26_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>6.Tiền thu hồi đầu tư góp vốn vào đơn vị khác</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct27_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>7.Tiền thu lãi cho vay, cổ tức và lợi nhuận được chia</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct30_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động đầu tư</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct31_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>1.Tiền thu từ phát hành cổ phiếu, nhận vốn góp của chủ sở hữu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct32_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>2.Tiền chi trả vốn góp cho các chủ sở hữu, mua lại cổ phiếu của  doanh nghiệp đã phát hành</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct33_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>3.Tiền vay ngắn hạn, dài hạn nhận được</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct34_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>4.Tiền chi trả nợ gốc vay</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct35_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>5.Tiền chi trả nợ thuê tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct36_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>6. Cổ tức, lợi nhuận đã trả cho chủ sở hữu</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct40_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần từ hoạt động tài chính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct50_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Lưu chuyển tiền thuần trong kỳ (50 = 20+30+40)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct60_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền và tương đương tiền đầu kỳ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct61_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Ảnh hưởng của thay đổi tỷ giá hối đoái quy đổi ngoại</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct70_nNgoai" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tiền và tương đương tiền cuối kỳ (70 = 50+60+61)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="PhanKy">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="nguoiLapBieu" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Người lập biểu </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="keToanTruong" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Kế toán trưởng </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ngayLap" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>Lập ngày </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="giamDoc" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Giám đốc </xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
</xs:schema>
