Source/HTKK3.2/InterfaceIni/Schema/ToKhai/KHBS_01A_TNDN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.1 U (http://www.xmlspy.com) by mennt (ST) -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="TKhaiThue" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="TKhaiThue" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0.7">
	<xs:redefine schemaLocation="../TKhaiThue.xsd">
		<xs:complexType name="CTieuTKhaiChinhType">
			<xs:complexContent>
				<xs:extension base="CTieuTKhaiChinhType">
					<xs:sequence>
						<xs:element name="tieuMucHachToan" type="tieuMucHT_empty">
							<xs:annotation>
								<xs:documentation>Tiểu mục hạch toán</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="dnQuiMoVuaVaNho" type="xs:boolean" nillable="true">
							<xs:annotation>
								<xs:documentation>Doanh nghiệp có quy mô nhỏ và vừa</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="dnCoCSoHToanPThuoc" type="xs:boolean" nillable="true">
							<xs:annotation>
								<xs:documentation>Doanh nghiệp có cơ sở sản xuất hạch toán phụ thuộc</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct21" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Doanh thu phát sinh trong kỳ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct22" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Chi phí phát sinh trong kỳ</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct23" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Lợi nhuận phát sinh trong kỳ ([23]=[21]-[22])</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct24" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Điều chỉnh tăng lợi nhuận theo pháp luật thuế</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct25" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Điều chỉnh giảm lợi nhuận theo pháp luật thuế</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct26" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Thu nhập chịu thuế ([26]=[23]+[24]-[25])</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct27" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Thu nhập miễn thuế</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct28" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Số lỗ chuyển kỳ này</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct29" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>TN tính thuế ([29]=[26]-[27]-[28])</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct30" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Trong đó:  Thu nhập tính thuế áp dụng thuế suất 20%</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct31" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Thu nhập  tính thuế áp dụng thuế suất 22%</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct32" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Thu nhập tính thuế áp dụng thuế suất ưu đãi</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct32a" type="xs:decimal" nillable="true">
							<xs:annotation>
								<xs:documentation>Thuế suất ưu đãi (%)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct33" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Thu nhập tính thuế áp dụng thuế suất khác </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct33a" type="xs:decimal" nillable="true">
							<xs:annotation>
								<xs:documentation>Thuế suất khác (%)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct34" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Thuế TNDN phát sinh [34] = ([30] x 20%) + ([31]x22%) + ([32] x [32a]) + ([33] x [33a])</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct35" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Thuế TNDN dự kiến miễn, giảm </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct35a" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Trong đó: + số thuế TNDN được miễn, giảm theo Hiệp định (nếu có)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct35b" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Miễn, giảm khác ngoài Luật Thuế TNDN (nếu có)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct36" type="xs:long" nillable="true">
							<xs:annotation>
								<xs:documentation>Thuế TNDN phải nộp trong kỳ ([36]= [34]-[35])</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct37" type="xs:boolean" nillable="true">
							<xs:annotation>
								<xs:documentation>Đối tượng được gia hạn    </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct37a" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Mã lý do gia hạn</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct37b" type="xs:date" nillable="true">
							<xs:annotation>
								<xs:documentation>Thời hạn được gia hạn</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct37c" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Số thuế TNDN được gia hạn </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ct37d" type="xs:nonNegativeInteger" nillable="true">
							<xs:annotation>
								<xs:documentation>Số thuế TNDN không được gia hạn</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="PLucType">
			<xs:complexContent>
				<xs:extension base="PLucType">
					<xs:sequence>
						<xs:element name="PL01_KHBS" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NDUNGKHAIBOSUNGDIEUCHINH">
										<xs:annotation>
											<xs:documentation>A. Nội dung bổ sung, điều chỉnh thông tin đã kê khai</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="DieuChinhTang">
													<xs:annotation>
														<xs:documentation>I. Chỉ tiêu điều chỉnh tăng số thuế phải nộp</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="KHBSDieuChinhTang" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:complexContent>
																		<xs:extension base="NoiDungKHBSGTGTType"/>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="DieuChinhGiam">
													<xs:annotation>
														<xs:documentation>II. Chỉ tiêu điều chỉnh giảm số thuế phải nộp</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="KHBSDieuChinhGiam" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:complexContent>
																		<xs:extension base="NoiDungKHBSGTGTType"/>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="TongHopDCTangGiamPNop" type="NoiDungKHBSGTGTType">
													<xs:annotation>
														<xs:documentation>III. Tổng hợp điều chỉnh số thuế phải nộp (tăng: +, giảm: -)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="PhatChamNop">
										<xs:annotation>
											<xs:documentation>B. Tính số tiền chậm nộp</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="soNgayNopCham" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Số ngày nộp chậm</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="soTienPhatNopCham" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Số tiền phạt nộp chậm: </xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="NOIDUNGGIAITHICH">
										<xs:annotation>
											<xs:documentation>C. Nội dung giải thích và tài liệu đính kèm </xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="soTienTraNSNN" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Người nộp thuế tự phát hiện số tiền thuế đã được hoàn phải nộp trả NSNN là ... đồng </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="quyetDinhHoanThueSo" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Lệnh hoàn trả khoản thu NSNN hoặc Lệnh hoàn trả kiêm bù trừ khoản thu NSNN số </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ngay" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>ngày ..... </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="coQuanThue" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã cơ quan thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="soNgayNhanDuocTienHoan" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Số ngày nhận được tiền hoàn thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="soTienChamNop" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Số tiền chậm nộp (= số tiền đã được hoàn phải nộp trả NSNN x số ngày nhận được tiền hoàn thuế x mức tiền chậm nộp %)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="lyDoKhac" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Lý do khác</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
	<xs:complexType name="NoiDungKHBSGTGTType">
		<xs:sequence>
			<xs:element name="ct2" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Chỉ tiêu điều chỉnh</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct3" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Mã số chỉ tiêu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct4" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Số đã kê khai</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct5" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Số điều chỉnh</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct6" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Chênh lệch giữa số điều chỉnh với số đã kê khai</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
</xs:schema>
