Source/HTKK3.3/InterfaceIni/Schema/ToKhai/KHBS_01_TTDB.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.1 U (http://www.xmlspy.com) by mennt (ST) -->
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="TKhaiThue" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="TKhaiThue" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0.7">
	<xs:redefine schemaLocation="../TKhaiThue.xsd">
		<xs:complexType name="CTieuTKhaiChinhType">
			<xs:annotation>
				<xs:documentation>Tờ khai thuế tiêu thụ đặc biệt - 01/TTĐB </xs:documentation>
			</xs:annotation>
			<xs:complexContent>
				<xs:extension base="CTieuTKhaiChinhType">
					<xs:sequence>
						<xs:element name="tieuMucHachToan" type="tieuMucHT_empty">
							<xs:annotation>
								<xs:documentation>Tiểu mục hạch toán</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BangChiTietThueTTDB">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="HangHoaChiuThueTTDB" minOccurs="0">
										<xs:annotation>
											<xs:documentation>I. Hàng hoá chịu thuế TTĐB</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ChiTietHangHoaChiuThueTTDB">
													<xs:annotation>
														<xs:documentation>Bảng kê chi tiết hàng hóa chịu thuế TTĐB</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="NDungTKhaiTTDB" type="NDungTKhaiTTDBType" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="tongDongIcot5" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Doanh số bán 
(chưa có thuế GTGT)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongDongIcot6" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Giá tính thuế TTĐB</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongDongIcot8" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Thuế TTĐB được khấu trừ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongDongIcot9" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>tổng Thuế TTĐB phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="DVuChiuThueTNDB" minOccurs="0">
										<xs:annotation>
											<xs:documentation>II. Dịch vụ chịu thuế TTĐB</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ChiTietDVuChiuThueTTDB">
													<xs:annotation>
														<xs:documentation>Bảng kê chi tiết dịch vụ chịu thuế TTĐB</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="NDungTKhaiTTDB" type="NDungTKhaiTTDBType" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="tongDongIICot5" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Doanh số bán 
(chưa có thuế GTGT)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongDongIICot6" type="xs:decimal" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Giá tính thuế TTĐB</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongDongIICot8" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Thuế TTĐB được khấu trừ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tongDongIICot9" type="xs:long" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng Thuế TTĐB phải nộp</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="HHoaKhongChiuThueTNDB" minOccurs="0">
										<xs:annotation>
											<xs:documentation>III. Hàng hoá thuộc trường hợp không phải chịu thuế TTĐB</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="HHXuatKhau" minOccurs="0">
													<xs:annotation>
														<xs:documentation>1. Hàng hóa xuất khẩu</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="NDungHHoaKhongThue" type="NDungHHoaKhongThueType" minOccurs="0" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="HHBanDeXuatKhau" minOccurs="0">
													<xs:annotation>
														<xs:documentation>2. Hàng hóa bán để xuất khẩu</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="NDungHHoaKhongThue" type="NDungHHoaKhongThueType" minOccurs="0" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="HHGiaCongXuatKhau" minOccurs="0">
													<xs:annotation>
														<xs:documentation>3. Hàng hóa gia công để xuất khẩu</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="NDungHHoaKhongThue" type="NDungHHoaKhongThueType" minOccurs="0" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="tongDongIIICot5" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Tổng doanh số chưa có GTGT (của hàng hóa không chịu thuế)
</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="tongDSoBanChuaThue" type="xs:nonNegativeInteger" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng doanh số bán chưa có thuế GTGT</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tongGiaThue" type="xs:decimal" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng giá tính  thuế TTĐB </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tongThueKTru" type="xs:nonNegativeInteger" nillable="true">
										<xs:annotation>
											<xs:documentation>Tổng thuế TTĐB được khấu trừ (của tất cả hàng hóa, dịch vụ chịu thuế)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="tongThuePNop" type="xs:long" nillable="true">
										<xs:annotation>
											<xs:documentation>Thuế TTĐB phải nộp</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:complexType name="PLucType">
			<xs:complexContent>
				<xs:extension base="PLucType">
					<xs:sequence>
						<xs:element name="PL01_KHBS" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NDUNGKHAIBOSUNGDIEUCHINH">
										<xs:annotation>
											<xs:documentation>A. Nội dung bổ sung, điều chỉnh thông tin đã kê khai</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="DieuChinhTang">
													<xs:annotation>
														<xs:documentation>I. Chỉ tiêu điều chỉnh tăng số thuế phải nộp</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="KHBSDieuChinhTang" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:complexContent>
																		<xs:extension base="NoiDungKHBSGTGTType"/>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="DieuChinhGiam">
													<xs:annotation>
														<xs:documentation>II. Chỉ tiêu điều chỉnh giảm số thuế phải nộp</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="KHBSDieuChinhGiam" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:complexContent>
																		<xs:extension base="NoiDungKHBSGTGTType"/>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="TongHopDCTangGiamPNop" type="NoiDungKHBSGTGTType">
													<xs:annotation>
														<xs:documentation>III. Tổng hợp điều chỉnh số thuế phải nộp (tăng: +, giảm: -)</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="PhatChamNop">
										<xs:annotation>
											<xs:documentation>B. Tính số tiền chậm nộp</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="soNgayNopCham" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Số ngày nộp chậm</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="soTienPhatNopCham" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Số tiền phạt nộp chậm: </xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="NOIDUNGGIAITHICH">
										<xs:annotation>
											<xs:documentation>C. Nội dung giải thích và tài liệu đính kèm </xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="soTienTraNSNN" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Người nộp thuế tự phát hiện số tiền thuế đã được hoàn phải nộp trả NSNN là ... đồng </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="quyetDinhHoanThueSo" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Lệnh hoàn trả khoản thu NSNN hoặc Lệnh hoàn trả kiêm bù trừ khoản thu NSNN số </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ngay" type="xs:date" nillable="true">
													<xs:annotation>
														<xs:documentation>ngày ..... </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="coQuanThue" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Mã cơ quan thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="soNgayNhanDuocTienHoan" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Số ngày nhận được tiền hoàn thuế</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="soTienChamNop" type="xs:nonNegativeInteger" nillable="true">
													<xs:annotation>
														<xs:documentation>Số tiền chậm nộp (= số tiền đã được hoàn phải nộp trả NSNN x số ngày nhận được tiền hoàn thuế x mức tiền chậm nộp %)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="lyDoKhac" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Lý do khác</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
	<xs:complexType name="NDungTKhaiTTDBType">
		<xs:sequence>
			<xs:element name="ct2_maHHDV" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Mã hàng hóa, dịch vụ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct2" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Tên hàng hóa, dịch vụ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct3" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Đơn vị tính</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct4" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Sản lượng tiêu thụ </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct5" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Doanh số bán chưa có thuế GTGT</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct6" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Giá tính thuế TTĐB </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct7" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Thuế suất (%)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct8" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Thuế TTĐB được khấu trừ
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct9" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Thuế TTĐB phải nộp (9) = (6) x (7) - (8)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="NDungHHoaKhongThueType">
		<xs:sequence>
			<xs:element name="ct2_maHH" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Mã hàng hóa (của hàng hóa xuất khẩu không chịu thuế </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct2" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Tên hàng hóa (của hàng hóa xuất khẩu không chịu thuế </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct3" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Đơn vị tính (của hàng hóa xuất khẩu không chịu thuế TTĐB)
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct4" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Sản lượng tiêu thụ (của hàng hóa xuất khẩu không chịu thuế TTĐB)
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct5" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Doanh số bán chưa có thuế GTGT (của hàng hóa xuất khẩu không chịu thuế TTĐB)
</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="NoiDungPlucBRaChiuThueTTDBType">
		<xs:annotation>
			<xs:documentation>
BẢNG KÊ HÓA ĐƠN HÀNG HÓA, DỊCH VỤ BÁN RA CHỊU THUẾ TIÊU THỤ ĐẶC BIỆT 
</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ct2" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Ký hiệu hóa đơn bán hàng</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct3" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Số hóa đơn bán hàng</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct4" type="xs:date" nillable="true">
				<xs:annotation>
					<xs:documentation>Ngày tháng năm phát hành hóa đơn bán hàng </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct5" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Tên khách hàng</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maHHDV" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Mã hàng hóa, dịch vụ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct6" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Tên hàng hóa, dịch vụ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct7" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Số lượng</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct8" type="xs:decimal" nillable="true">
				<xs:annotation>
					<xs:documentation>Đơn giá</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct9" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Doanh số bán có thuế TTĐB (không có thuế GTGT) (9) = (7) x (8)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="NoiDungKHBSGTGTType">
		<xs:sequence>
			<xs:element name="ct2" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Chỉ tiêu điều chỉnh</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct3" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Mã số chỉ tiêu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct4" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Số đã kê khai</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct5" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Số điều chỉnh</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ct6" type="xs:long" nillable="true">
				<xs:annotation>
					<xs:documentation>Chênh lệch giữa số điều chỉnh với số đã kê khai</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
</xs:schema>
